<div ng-include="'components/navbar/navbar.html'"></div>
<div if-user-state-unknown>
  <p>Loading.. </p>
</div>
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">To Do List:</h1>
      
      <!-- Todos input -->
				  <form role="form" ng-submit="addTodo()">
					<div class="row">
				  	<div class="col-lg-12">
					  <div class="input-group">
						<input type="text" ng-model="formModel.todo" placeholder="What needs to be done?" class="form-control">
						<span class="input-group-btn">
						  <input type="submit" class="btn btn-primary" value="Add">
						</span>
					  </div>
					 </div>
					</div>
				  </form>
      
      <!-- Todos list -->
      
		  	<div ui-sortable ng-model="todos">
			  	<div class="form-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
			  	<div class="input-group">
					<input type="text" ng-model="todo" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
					</span>
				  </div>
			  </div>
			</div>  
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
